[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
python-dotenv = "*"
my-media-feed = {editable = true, path = "./.."}
sqlmodel = "*"
chess = "*"
logzero = "*"
fastapi-utils = "*"

[dev-packages]
ipdb = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
dev = 'uvicorn app.main:app --port 5100 --reload --reload-exclude data'
prod = 'uvicorn app.main:app --port 5100'
