[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
